table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-color: #FFFFFF;
    box-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #72016b;
}

table th, table td {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

table tr:hover td {
    background: yellow;
    font-weight: 700;
    color: black;
}
table tr:hover td:after {
    content: '';
    position: absolute;
    width: 105%;
}

tr:nth-child(even) td {background: #000000
}
tr:nth-child(odd) td {background: #151515
}