.topnav {
    border-width: thin;
    border-style: double;
    border-color: #000000;
    overflow: hidden;
    background: linear-gradient(-180deg,#39b1d4 -.04%,#865de8 52.2%);
    border-radius: .75rem 0 .75rem 0;
    box-shadow: rgb(57, 111, 255);
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    letter-spacing: normal;
    font-family: Arial, serif;
    font-weight: 700;
    padding: 14px 16px;
    text-transform: uppercase;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 3;
    text-shadow: 1px 1px 1px #000;
    box-shadow: rgb(114, 1, 107) 0px 2px 2px;
}

.topnav a:hover {
    background: linear-gradient(-180deg,#39b1d4 -.04%,#865de8 52.2%);
    color: #ff9239;
}

.topnav a.active {
    background:linear-gradient(-180deg, #ff9239, #d45aff);
    color: #ffffff;
}