html, body {
    height: 100%;
}

body, html {
    height: 100%;
    font-family: Arial, serif;
    background: #ffffff;
}

header, footer {
    padding-left: 10px;
    padding-right: 10px;
}

main {
    padding: 20px;
}

h1 {
    letter-spacing: normal;
    font-family: Arial, serif;
    font-weight: 700;
    text-transform: uppercase;
    overflow-wrap: break-word;
    font-size: 5em;
    line-height: 1.1;
    text-align: right;
}

h2 {
    letter-spacing: normal;
    font-family: Arial, serif;
    font-weight: 700;
    text-transform: uppercase;
    overflow-wrap: break-word;
    font-size: 3em;
    line-height: 1.1;
    text-align: center;
}

h3 {
    text-align: center;
    size: 20px;
}

q {
    size: 30px;
    font-style: italic;
    text-align: right;
}

p {
    text-align: center;
}

code {
    font-family: "Courier New", "Courier", monospace;
    color: #6a2cce;
    padding-left: 3px;
    border: black;
}

footer {
    text-align: center;
}
footer > pre {
    display: inline-block;
    text-align: left;
}

pre {
    font-size: 9px;
}

img {
    border-radius: 6px;
    box-shadow: rgb(114, 1, 107) 0px 5px 15px;
}
